#saveButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe Print";
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#saveButton:pressed {
    -fx-background-color: deepskyblue;
    -fx-border-color: blue;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#mainPaneLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#mainPaneLabel:hover, #mainPaneLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsPaneLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsPaneLabel:hover, #settingsPaneLabel:pressed {
    -fx-text-fill: yellow;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#gamePaneLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: #E52B50;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#gamePaneLabel:hover, #gamePaneLabel:pressed {
    -fx-text-fill: blue;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsToursPaneLabel {
    -fx-text-fill: linear-gradient(to right, green, yellow, red, mediumvioletred);
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsToursPaneLabel:hover, #settingsToursPaneLabel:pressed {
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsToursCategoriesPaneLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#settingsToursCategoriesPaneLabel:hover, #settingsToursCategoriesPaneLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-border-width: 1pt;
    -fx-border-color: deepskyblue;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: deepskyblue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

.text-field:focused {
    -fx-border-color: blue;
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#scoresLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#unselectedButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe Print";
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#unselectedButton:pressed {
    -fx-background-color: orangered;
    -fx-border-color: red;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#selectedButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe Print";
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#selectedButton:pressed {
    -fx-background-color: limegreen;
    -fx-border-color: green;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#playButton, #pauseButton {
    -fx-background-color: white;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#playButton:pressed, #pauseButton:pressed {
    -fx-border-color: blue;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#toursLabel {
    -fx-font-size: 23pt;
    -fx-font-family: "Segoe Print";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd; /*сглаживание*/
}

#gameLabel {
    -fx-font-family: "Segoe Print";
    -fx-font-smoothing-type: lcd; /*сглаживание*/
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

#copyrightLabel {
    -fx-font-family: Times New Roman, Georgia, serif;
    -fx-opacity: 0.3;
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 9pt;
}
